@model WebAppProjeto2023.Models.Home

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Página inicial";
}

<div>
    <table class="table table-striped">
        <tr>
            <th>Fabricantes</th>
        </tr>
        @foreach (var item in Model.fabricantes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
            </tr>
        }
    </table>
</div>

<div>
    <table class="table table-striped">
        <tr>
            <th>Categorias</th>
        </tr>
        @foreach (var item in Model.categorias)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Nome, "Index", "", new(CategoriaId = item), null)
                </td>
            </tr>
        }
    </table>
</div>

@if (Model.produtos != null && Model.filtro == "Fabricante")
{
    <div>
        <p>Relação de Produtos para Fabricantes</p>
        @Html.Partial("~/Views/Produtos/_PorFabricante.cshtml", Model.produtos.ToList())
    </div>
}

@if (Model.produtos != null && Model.filtro == "Categoria")
{
    <div>
        <p>Relação de Produtos para Fabricantes</p>
        @Html.Partial("~/Views/Produtos/_PorCategoria.cshtml", Model.produtos.ToList())
    </div>
}

